services:
  - type: web
    name: concesionario-django
    env: python
    buildCommand: "./build.sh"
    startCommand: "gunicorn concesionario_project.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.10.0
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
      - key: DEBUG
        value: "False"
      - key: ALLOWED_HOSTS
        value: "*" 
